<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  <title>Happy birthday {{name}}</title>
</head>

<body>
  <div style="background-color: #fff; margin: 0; padding: 0;">
    <table border="0" cellpadding="0 " cellspacing="0"
      style="background-color: #fff;background-image: url('https://darwoft.s3.amazonaws.com/background.jpg'); background-position: top left; background-size: cover; background-repeat: no-repeat;vertical-align: baseline;"
      width="1020" height="573">
      <tbody>
        <tr>
          <td>
            <table>
              <tbody>
                <tr>
                  <td>
                    <table style="width: 520px;">
                      <tbody>
                        <tr>
                          <td
                            style="font-weight: 400; text-align: left; vertical-align: top; padding-top: 120px; padding-bottom: 0; border-top: 0; border-right: 0; border-bottom: 0; border-left: 0;"
                            width="100%">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                              <tbody>
                                <tr>
                                  <td style="padding-left: 95px; text-align: center; width: 100%; padding-top: 0;">
                                    <h1
                                      style="color: #393d47; font-family: Montserrat,sans-serif;font-size: 26px;font-weight: 700;line-height: 380%;text-align: left;margin-bottom: 0;margin-top: 0;">
                                      {{name}}
                                    </h1>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                              <tbody>
                                <tr>
                                  <td
                                    style="padding-left: 100px; padding-right: 120px; text-align: center; width: 100%">
                                    <h2
                                      style="color: #fff;font-family: Montserrat,sans-serif;font-size: 24px;font-weight: 400;line-height: 180%;text-align: center;margin-top: 0px;margin-bottom: 0px;">
                                      {{position}}
                                    </h2>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table width="100%">
              <tbody>
                <tr>
                  <td>
                    <table width="100%">
                      <tbody>
                        <tr>
                          <td
                            style="font-weight: 400; text-align: left; vertical-align: top; border-top: 0; border-right: 0; border-bottom: 0; border-left: 0;padding-left: 110px;"
                            width="30">
                            <table width="100%">
                              <tbody>
                                <tr>
                                  <td style="text-align: center; width: 100%; padding-top: 24px;">
                                    <h3
                                      style="color: #6807f9; font-family: Montserrat, sans-serif;font-size: 60px;font-weight: 700;line-height: 100%;text-align: center;margin-top: 26px;margin-bottom: 0;">
                                      {{day}}
                                    </h3>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                              <tbody>
                                <tr>
                                  <td style="text-align: center; width: 100%; padding-bottom: 5px;">
                                    <h3
                                      style="color: #6807f9;font-family: Montserrat,sans-serif;font-size: 23px;font-weight: 400;line-height: 120%;text-align: center;margin: 0;">
                                      {{month}}
                                    </h3>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td
                            style="font-weight: 400; text-align: left; vertical-align: top; border-top: 0; border-right: 0; border-bottom: 0; border-left: 0;"
                            width="70%">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                              <tbody>
                                <tr>
                                  <td
                                    style="padding-left: 60px; width: 100%; padding-right: 0; padding-top: 5px; padding-bottom: 5px;">
                                    <div>
                                      <img
                                        src="{{image}}"
                                        style="display: block; height: auto;  border-radius: 50%;overflow: hidden;border: solid 7px white;"
                                        width="200" height="200">
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>